.compass#compass

script.
	initComponents.push({
		name: 'compass',
		place: '#compass',
		data: {
			target: {
				latitude: !{global.target.latitude},
				longitude: !{global.target.longitude}
			}
		}
	})
