*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	text-align: center;
	background-color: #000000;
	--base: 1vw;
}

@media screen and (orientation: landscape) {
	body {
		--base: 1vh;
	}
}

.layout {
	position: relative;
	font-size: var(--base);
	margin: 4em;
	height: calc(100vh - 8em);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	color: #ffffff;
}

.title {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em;
	font-size: 9em;
	mix-blend-mode: soft-light;
}

.compass {
	position: relative;
	width: 80em;
}

.compass::before {
	content: '';
	display: block;
	padding-top: 100%;
}

.arrow {
	position: absolute;
	top: 0;
	left: calc(50% - 4em);
	width: 8em;
	height: 100%;
	color: #cb0e21;
	opacity: 0.2;
	transition: opacity 0.2s;
}

.arrow::before {
	content: '';
	position: absolute;
	bottom: 86%;
	left: calc(-4em);
	border-bottom: 15em solid;
	border-left: 8em solid transparent;
	border-right: 8em solid transparent;
}

.arrow::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 87%;
	background-color: currentColor;
}

.note {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 4em;
	margin: 0;
	transition: opacity 0.2s;
	opacity: 0;
}

.note.isActive {
	opacity: 1;
}

.noteToggle {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0;
}
